<html ng-app>
    <head>
       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <script
src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        
    <script>
       function EmailController($scope) {
            $scope.isPopupVisible = false;
            $scope.isComposePopupVisible = false;
            $scope.activeTab = "inbox";
            $scope.sentEmails = [];
            
           
        $scope.showPopup = function (email) {
            $scope.isPopupVisible = true;
            $scope.selectedEmail = email;
        };
            
        $scope.closePopup = function () {
                $scope.isPopupVisible = false;
        };
           
        $scope.showComposePopup = function () {
            $scope.isComposePopupVisible = true;
        };
           
        $scope.closeComposePopup = function () {
            $scope.isComposePopupVisible = false;
        };
           
        $scope.emails = [
            { 
                from: 'John',
                to: 'me',
                subject: 'I love angular', 
                date: 'Jan 1', 
                body: 'hello world!' 
            },
            { 
                from: 'Jack', 
                to: 'me',
                subject: 'Angular and I are just friends', 
                date: 'Feb 15', 
                body: 'just kidding' 
            },
            { 
                from: 'Ember', 
                to: 'me',
                subject: 'I hate you Angular!', 
                date: 'Dec 8', 
                body: 'wassup dude' 
            }
        ];
        $scope.composeEmail = {};
           
        $scope.sendEmail = function() {
            $scope.isComposePopupVisible = false;
            $scope.composeEmail.from = 'me';
            $scope.composeEmail.date = new Date();
            $scope.sentEmails.splice(0,0,$scope.composeEmail); 
        };
        $scope.forward = function() {
            $scope.isPopupVisible = false;
            $scope.composeEmail = {};
            angular.copy($scope.selectedEmail, $scope.composeEmail);

            $scope.composeEmail.body = 
                "\n-------------------------------\n" 
                + "from: " + $scope.composeEmail.from + "\n"
                + "sent: " + $scope.composeEmail.date + "\n"
                + "to: " + $scope.composeEmail.to + "\n"
                + "subject: " + $scope.composeEmail.subject + "\n"
                + $scope.composeEmail.body;

            $scope.composeEmail.subject = "FW: " + $scope.composeEmail.subject;
            $scope.composeEmail.to = "";
            $scope.composeEmail.from = "me";
            $scope.isComposePopupVisible = true;
        };

           $scope.reply = function() {
            // hide the view details popup
            $scope.isPopupVisible = false;
            // create an empty composeEmail object the compose email popup is bound to
            $scope.composeEmail = {};
            // copy the data from selectedEmail into composeEmail
            angular.copy($scope.selectedEmail, $scope.composeEmail);

            // edit the body to prefix it with a line and the original email information
            $scope.composeEmail.body = 
                "\n-------------------------------\n" 
                + "from: " + $scope.composeEmail.from + "\n"
                + "sent: " + $scope.composeEmail.date + "\n"
                + "to: " + $scope.composeEmail.to + "\n"
                + "subject: " + $scope.composeEmail.subject + "\n"
                + $scope.composeEmail.body;

            // prefix the subject with “RE:”
            $scope.composeEmail.subject = "RE: " + $scope.composeEmail.subject;
            // the email is going to the person who sent it to us 
            // so populate the to with from
            $scope.composeEmail.to = $scope.composeEmail.from;
            // it’s coming from us
            $scope.composeEmail.from = "me";
            // show the compose email popup
            $scope.isComposePopupVisible = true;
           };
    }
        </script>
    </head>
    <body ng-controller="EmailController">
	    <h1>Email App</h1>
        <div class="container" stlye="padding:30px;">
            <ul class="nav nav-tabs">
                <li ng-class="{active: activeTab == 'inbox'}">
                    <a ng-click="activeTab='inbox'">Inbox</a>
                </li>
                <li ng-class="{active: activeTab == 'sent'}">
                    <a ng-click="activeTab='sent'">Sent</a>
                </li>
            </ul>
            <table class="table table-bordered table-condensed" ng-show="activeTab=='inbox'">
                <tr ng-repeat="email in emails" ng-click="showPopup(email)">
                    <td>{{ email.from }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.date }}</td>
                </tr>
            </table>
            <table ng-show="activeTab=='sent'" class="table table-bordered table-condensed">
                <tbody>
                    <tr ng-repeat="email in sentEmails" ng-click="showPopup(email)">
                        <td>{{ email.to }}</td>
                        <td>{{ email.subject }}</td>
                        <td>{{ email.date | date:'MMM d' }}</td>
                    </tr>
                </tbody>
    </table>
            <button class="btn btn-primary" ng-click="showComposePopup()">Compose</button>
        <div class="modal" ng-show="isPopupVisible">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePopup()">&times;</button>
                <h3>{{ selectedEmail.subject }}</h3>
            </div>
            <div class="modal-body">
                <strong>From:</strong> {{ selectedEmail.from }}<br />
                <strong>To:</strong> {{ selectedEmail.to }}<br />
                <strong>Date:</strong> {{ selectedEmail.date | date:'MMM d' }} <br />
                <br />
                <p>
                <span style="white-space:pre">{{ selectedEmail.body }}</span>
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" ng-click="forward()">Forward</a>
                <a href="#" class="btn" ng-click="reply()">Reply</a>
                <a href="#" class="btn btn-primary" ng-click="closePopup()">Close</a>
            </div>
        </div> 
            
            <div class="modal" ng-show="isComposePopupVisible">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeComposePopup()">×</button>
        <h3>Compose Email</h3>
    </div>
    <div class="modal-body">
        <form>
            <input type="text" placeholder="To" ng-model="composeEmail.to" style="width:95%;">
            <input type="text" placeholder="Subject" ng-model="composeEmail.subject" style="width:95%;">
            <textarea rows="10" ng-model="composeEmail.body" style="width:95%;"></textarea>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" ng-click="closeComposePopup()">Close</a>
        <a href="#" class="btn btn-primary" ng-click="sendEmail()">Send</a>
    </div>
</div>
    </div>
    </body>
            
</html>